.header {
    background: darkblue;
    height: 100px;
}

.header h1 {
    margin: 5px;
    padding-top: 25px;
    text-align: left;
    color: white;
    font-size: 2rem;
}

.header h2 {
    margin: 5px;
    padding-top: 10px;
    text-align: left;
    color: white;
    font-size: 1rem;
}
